*.iml
*.class
*.jar
!*.java
!pom.xml
!README.md
!.gitignore
!src/**
target/**
.idea/**
/src/main/java/academy/kovalevskyi/javadeepdive/week0/day0/.idea/
/src/main/java/academy/kovalevskyi/javadeepdive/week0/day0/StdBufferReader.iml
/src/main/java/META-INF/
